/* CSS Document */

/*
	Theme Name: Margo
	Description: Margo - Responsive Template
	Version: 1.0
	Author: iThemesLab
	Website: http://ithemeslab.com
*/

/* ------------------------------------------ */
/*             TABLE OF CONTENTS
/* ------------------------------------------ */
/*   01 - General & Basic Styles   */
/*   02 - Header & Navigation      */
/*   03 - Slider                   */
/*   04 - Main Page Elements       */
/*   05 - Revolution Slider        */
/*   06 - Shortcodes Elements      */
/*   07 - Portfolio Styles         */
/*   08 - Single Project Styles    */
/*   09 - Blog Styles              */
/*   10 - Single post Styles       */
/*   11 - Sidebar Styles           */
/*   12 - Footer Styles 		   */
/*   13 - Plugins Styles 	  	   */





@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700);





/*------------------------------------------*/
/*	     01 - General & Basic Styles
/*------------------------------------------*/






/*------------------------------------------*/
/*	     02 - Header & Navigation
/*------------------------------------------*/

header {
//position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999999;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.fixed-header {
    opacity: 0.95;
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 3px 3px -3px rgba(0, 0, 0, 0.2);
}

.top-bar {
    background-color: #fff;
    border-bottom: 1px solid #f2f2f2;
}

.top-bar.color-bar {
    border-bottom: 0;
}

.top-bar.color-bar a {
    color: rgba(255,255,255,.6);
}

.top-bar.color-bar a:hover {
    color: rgba(255,255,255,1) !important;
}

.top-bar.color-bar ul.social-list li a i {
    border-left: 1px solid rgba(255,255,255,.1);
}

.top-bar.color-bar ul.social-list li:last-child a i {
    border-right: 1px solid rgba(255,255,255,.1);
}

.top-bar.color-bar .contact-details li a:before {
    color: rgba(255,255,255,.2);
}

.top-bar.dark-bar {
    background-color: #444;
    border-bottom: 0;
}

.top-bar.dark-bar a {
    color: rgba(255,255,255,.4);
}

.top-bar.dark-bar a:hover {
    color: rgba(255,255,255,1) !important;
}

.top-bar.dark-bar ul.social-list li a i {
    border-left: 1px solid rgba(255,255,255,.08);
}

.top-bar.dark-bar ul.social-list li:last-child a i {
    border-right: 1px solid rgba(255,255,255,.08);
}

.top-bar.dark-bar .contact-details li a:before {
    color: rgba(255,255,255,.2);
}

.top-bar a {
    color: #666;
}

.top-bar .contact-details li {
    display: inline-block;
}

.top-bar .contact-details li a:before {
    position: relative;
    content: "|";
    font-size: 13px;
    margin: 0 3px;
    top: -1px;
    color: #ddd;
}

.top-bar .contact-details li a:before {
    color: #666;
}

.top-bar .contact-details li:first-child a:before {
    display: none;
}

.top-bar .contact-details li a {
    font-size: 12px;
    display: block;
    line-height: 32px;
}

ul.social-list {
    float: right;
}

ul.social-list li {
    float: left;
}

ul.social-list li a {
    display: inline-block;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

ul.social-list li a:hover {
    color: #fff;
}

ul.social-list li a.facebook:hover {
    background-color: #507CBE;
}

ul.social-list li a.twitter:hover {
    background-color: #63CDF1;
}

ul.social-list li a.google:hover {
    background-color: #F16261;
}

ul.social-list li a.dribbble:hover {
    background-color: #E46387;
}

ul.social-list li a.linkdin:hover {
    background-color: #90CADD;
}

ul.social-list li a.tumblr:hover {
    background-color: #4D7EA3;
}

ul.social-list li a.flickr:hover {
    background-color: #E474AF;
}

ul.social-list li a.instgram:hover {
    background-color: #4D4F54;
}

ul.social-list li a.vimeo:hover {
    background-color: #87D3E0;
}

ul.social-list li a.skype:hover {
    background-color: #36C4F3
}

ul.social-list li a i {
    font-size: 1em;
    display: block;
    width: 34px;
    height: 33px;
    line-height: 33px;
    text-align: center;
    border-left: 1px solid #f2f2f2;
}

ul.social-list li:last-child a i {
    border-right: 1px solid #f2f2f2;
}
.wpb-mobile-menu{
    display: none;
}

.slicknav_menu{
    display: none;
}
.navbar-toggle{
    display: none;
}
.navbar {
    margin-bottom: 0;
    background: #fff;
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
}

.navbar-brand {
    position: relative;
//padding: 27px 0;
    margin: 0!important;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.navbar-default .navbar-nav {
    margin-right: 10px!important;
    position: relative;
    transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

.navbar-default .navbar-nav > li {
    margin-left: 6px;
}

.navbar-default .navbar-nav > li:first-child {
    margin-left: 0;
}

.navbar-default .navbar-nav > li > a {
    color: #999;
    display: block;
    font-size: 14px;
    font-weight: 300;
    padding: 28px 15px 28px 15px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    font-weight: 400;
}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li:hover > a {
    border-bottom: 2px solid;
}

.navbar-default .navbar-nav > li > a i {
    margin: 0 -2px 0 -5px;
}

.navbar-default .navbar-nav > li > a:after {
    position: absolute;
    bottom: 0;
    content: '';
    left: 50%;
    display: block;
    height: 5px;
    width: 5px;
    opacity: 0;
    margin: 0 0 -3px -2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

.navbar-default .navbar-nav > li > a.active:after {
    opacity: 1;
}

.navbar-default .navbar-nav .dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    width: 180px;
    background-color: #fff;
    visibility: hidden;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav > li.drop:hover .dropdown {
    visibility: visible;
    opacity: 1;
}

.dropdown li, .sup-dropdown li {
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.04);
}

.dropdown li:first-child, .sup-dropdown li:first-child {
    border-top: none;
}

.dropdown li a, .sup-dropdown li a {
    display: block;
    color: #666;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    padding: 11px 16px;
    text-decoration: none;
    text-transform: capitalize;
    transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;
}


.dropdown > li:hover > a, .sup-dropdown li:hover > a {
    padding-left: 18px;
}

.dropdown li a i {
    margin: 0 0 0 -4px;
}

.navbar-default .navbar-nav .sup-dropdown {
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
    background-color: #fff;
    margin-top: 10px;
    transition: margin-top 0.2s ease-in-out;
    -moz-transition: margin-top 0.2s ease-in-out;
    -webkit-transition: margin-top 0.2s ease-in-out;
    -o-transition: margin-top 0.2s ease-in-out;
    visibility: hidden;
    z-index: 3;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-default .navbar-nav li.drop .dropdown li:hover .sup-dropdown {
    visibility: visible;
    margin-top: 0;
}

.search-side {
    position: relative;
    float: right;
    top: 19px;
    right: -15px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.show-search {
    position: relative;
    display: block;
    float: right;
}

.show-search i {
    font-size: 1.2em !important;
    display: block;
    color: #666;
    width: 36px;
    cursor: pointer;
    height: 36px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    line-height: 36px;
    text-align: center;
    background-color: #f2f2f2;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

.show-search:hover i {
    color: #666;
}

.navbar .search-form {
    position: absolute;
    right: 0;
    z-index: 20;
    float: right;
    display: none;
    top: 40px;
}

.navbar .search-form:before {
    background-color: #ccc;
    top: -2px;
    content: '';
    display: block;
    height: 4px;
    width: 4px;
    z-index: 20;
    right: 15px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

.navbar .search-form form input {
    border: 2px solid #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 5px 14px;
    z-index: 22;
    color: #9d9d9d;
    box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
    box-shadow: none;
}

.navbar .search-form form {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 20;
}





/*==================================================
     Slideshow
 ================================================== */

/*-- Main slide --*/

#main-slide .item img{
    width: 100%;
}

#main-slide .item .slider-content {
    z-index: 0;
    opacity: 0;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    transition: opacity 500ms;
}
#main-slide .item.active .slider-content {
    z-index: 0;
    opacity: 1;
    -webkit-transition: opacity 100ms;
    -moz-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
}

#main-slide .slider-content{
    top: 50%;
    margin-top: -70px;
    left: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
}

#main-slide .carousel-indicators {
    bottom: 30px;
}

.carousel-indicators li{
    width: 14px !important;
    height: 14px !important;
    border: 2px solid #fff !important;
    margin: 1px !important;
}


#main-slide .carousel-control.left,
#main-slide .carousel-control.right {
    opacity: 1;
    filter: alpha(opacity=100);
    background-image: none;
    background-repeat: no-repeat;
    text-shadow: none;
}

#main-slide .carousel-control.left span {
    padding: 15px;
}

#main-slide .carousel-control.right span {
    padding: 15px;
}

#main-slide .carousel-control .fa-angle-left,
#main-slide .carousel-control .fa-angle-right{
    position: absolute;
    top: 40%;
    z-index: 5;
    display: inline-block;
}

#main-slide .carousel-control .fa-angle-left{
    left: 0;
}

#main-slide .carousel-control .fa-angle-right{
    right: 0;
}

#main-slide .carousel-control i{
    background: rgba(0,0,0,.7);
    color: #fff;
    line-height: 36px;
    font-size: 32px;
    padding: 15px 20px;
    -moz-transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}


#main-slide .slider-content h2{
    font-size: 76px;
    font-weight: 100;
    text-transform: uppercase;
    color: #555;
}

#main-slide .slider-content h2.white, #main-slide .slider-content h3.white {
    color: #fff;
}

#main-slide .slider-content h3{
    font-size: 36px;
    font-weight: 300;
    margin-top: 60px;
    text-transform: uppercase;
    text-align: center;
    color: #555;
}

.slider.btn{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 20px;
    border-radius: 2px;
    text-transform: uppercase;
    line-height: 28px;
    border: 0;
    -moz-transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    box-shadow: 0 4px 0 rgba(0,0,0,0.1) inset;
    -o-box-shadow: 0 4px 0 rgba(0,0,0,0.1) inset;
    -moz-box-shadow: 0 4px 0 rgba(0,0,0,0.1) inset;
    -webkit-box-shadow: 0 4px 0 rgba(0,0,0,0.1) inset;
}

.slider.btn.btn-default{
    margin-left: 4px;
    background: #ECECEC
}

.slider.btn.btn-default:hover{
    background: #000;
    color: #fff;
}

.slider-content-left {
    position: relative;
    margin: 0 0 0 40px;
}

.slider-content-right{
    position: relative;
}

/*-- Animation --*/
.carousel .item.active .animated1 {

}

.carousel .item.active .animated2 {
    -webkit-animation: lightSpeedIn 1s ease-in 200ms both;
    animation: lightSpeedIn 1s ease-in 200ms both;
}

.carousel .item.active .animated3 {
    -webkit-animation: bounceInLeft 1s ease-in-out 500ms both;
    animation: bounceInLeft 1s ease-in-out 500ms both;
}

.carousel .item.active .animated4 {
    -webkit-animation: flipInX 1s ease-in 500ms both;
    animation: flipInX 1s ease-in 500ms both;
    text-align: center;
}

.carousel .item.active .animated5 {
    -webkit-animation: bounceInLeft 1s ease-in-out 100ms both;
    animation: bounceInLeft 1s ease-in-out 100ms both;
}

.carousel .item.active .animated6 {
    -webkit-animation: bounceIn 1s ease-in 500ms both;
    animation: bounceIn 1s ease-in 500ms both;
    text-align: center;
}

.carousel .item.active .animated7 {
    -webkit-animation: bounceIn 1s ease-in 500ms both;
    animation: bounceIn 1s ease-in 500ms both;
}

.carousel .item.active .animated8 {
    -webkit-animation: fadeInDown 1s ease-in 1000ms both;
    animation: fadeInDown 1s ease-in 1000ms both;
}

.navbar-brand img {
    width: 270px;
}

.fa-user {
    padding-left: 15px;
}